* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.box-header {
  background: rgb(69, 183, 164);
  padding: 1em;
}

.box-welcome {
  background: rgb(69, 88, 183);
  padding: 1em;
}

.box-service {
  background: rgb(183, 82, 69);
  padding: 1em;
}

.box-blog {
  background: rgb(69, 88, 183);
  padding: 1em;
}

.box-testimoni {
  background: rgb(183, 82, 69);
  padding: 1em;
}

.box-footer {
  background: rgb(69, 183, 164);
  padding: 1em;
}
