* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(226, 226, 226);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 0.7em;
  font-weight: 700;
  filter: drop-shadow(0.12em 0.12em 0.12em rgb(0 0 0 /0.4));

  transition: color 0.1s ease-in;
}

a:hover {
  color: rgb(207, 85, 69);
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.box-top {
  /* padding: 1em; */
  background-image: url("../images/godzilla-cover.jpg");
  height: 83em;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  flex-direction: row;
  justify-content: center;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  font-size: 1.5em;
}

.navbar-logo {
  width: auto;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  filter: drop-shadow(0.12em 0.12em 0.12em rgb(0 0 0 /0.4));
}

.box-header {
  padding-left: 10%;
  padding-right: 10%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(49, 49, 49, 0.35); */
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-heading {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
}

.main-heading > div {
  width: 80%;
}

.main-grid {
  grid-template-areas:
    "heading1 heading1 heading1"
    "paragraph1 . ."
    "button . .";
  gap: 0.3em;
}

.main-grid-item1 {
  grid-area: heading1;
}

.main-grid-item2 {
  grid-area: paragraph1;
  width: 75%;
}

.main-grid-item3 {
  margin-top: 1em;
  grid-area: button;
  width: 15%;
  color: black;
  font-size: 1em;
  font-weight: 500;
  height: 2em;
  border-radius: 0.5em;
  border-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

p {
  font-size: 1em;
}

.btn {
  background-color: rgb(226, 226, 226);
  color: black;

  transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.btn:hover {
  background-color: rgb(207, 85, 69);
  color: white;
}

.box-films {
  background: rgb(183, 82, 69);
  padding: 1em;
  height: 20em;
}

.box-services {
  background: rgb(69, 88, 183);
  padding: 1em;
}

.box-about {
  background: rgb(183, 82, 69);
  padding: 1em;
}

.box-footer {
  background: rgb(32, 32, 32);
  padding: 1em;
  justify-content: center;
  gap: 1em;
}

.box-footer > p {
  font-weight: 600;
}
